{% extends 'r/layouts/base.html' %}
{% block content %}
      <div class="login-box" style="border-radius: 10px !important;">
          <form method="post" class="login-form">
              {% csrf_token %}
              <h4>Reset Password</h4>
              <hr>

              <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" placeholder="Enter your email" name="email">
              </div>

              <div class="form-group">
                  <button type="submit" class="btn btn-block btn-outline-success">Reset</button>
              </div>

              <br>
              <div class="form-group">
                  <h6>Dont have an account? Click <a href="{% url 'sms:register' %}">here</a> to signup.</h6>
                  <h6>Click <a href="{% url 'sms:login' %}">here</a> to login.</h6>

              </div>
          </form>
      </div>
{% endblock %}