{% extends 'school/layouts/new_base.html' %}
{% load static %}

{% block additional_meta %}

{% endblock %}

{% block additional_styles %}

{% endblock %}

{% block content %}
<div class="tile">
<div class="tile-title">
    <h4>Add Term</h4>
    <hr>
</div>
<div class="col-sm-6">
    <form class="form-group" action="{% url 'School:add_term' form_id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name">
        </div>

{#        <div class="form-group">#}
{#            <label>Year</label>#}
{#            <input class="form-control" id="demoDate" type="text" name="year" placeholder="Select Date">#}
{#        </div>#}
{##}
{#        <div class="form-group">#}
{#            <label>Fee</label>#}
{#            <input type="text" class="form-control" name="fee">#}
{#        </div>#}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
{% endblock %}

{% block additional_scripts %}
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script>
      $('#demoDate').datepicker({
      	format: "yyyy",
      	autoclose: true,
      	todayHighlight: true
      });
</script>
{% endblock %}