{% extends 'school/layouts/new_base.html' %}
{% load static %}

{% block additional_meta %}

{% endblock %}

{% block additional_styles %}

{% endblock %}

{% block content %}
<div class="tile">
<div class="tile-title">
    <h4>Add Stream</h4>
    <hr>
</div>
<div class="col-sm-6">
    <form class="form-group" action="{% url 'School:add_stream' class.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Stream Name</label>
            <input type="text" class="form-control" name="name">
        </div>
        <button type="submit" class="btn btn-primary">Add Stream</button>
    </form>
</div>
</div>
{% endblock %}

{% block additional_scripts %}

{% endblock %}