{% extends 'school/layouts/new_base.html' %}
{% load static %}
{% load school_filters %}
{% block additional_meta %}

{% endblock %}

{% block additional_styles %}

{% endblock %}

{% block content %}
    <div class="tile">
    <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Classes
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="tile">
        <a href="{% url 'School:add_class' %}" class="btn btn-sm btn-outline-success float-right">Add Class</a>
            <table class="table table-hover table-bordered" id="sampleTable">
                <thead>
                <tr>
                    <th>Form Name</th>
                    <th>Streams</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for class in classes %}
                <tr>
                    <td><a href="{% url 'School:school_streams' class.id %}">{{ class.name }}</a></td>
                    <td>{{ class.id|class_streams }}</td>
                    <td>
                        <a href="{% url 'School:edit_class' class.id %}" class="btn btn-outline-primary">Edit</a>
                        <a class="btn btn-outline-danger" href="{% url 'School:delete_class' %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Terms
        </button>
      </h2>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="tile">
        <div class="tile-body">
            <a href="{% url 'School:add_class' %}" class="btn btn-sm btn-outline-success float-right">Add Term</a>
            <table class="table table-hover table-bordered" id="sampleTable">
                <thead>
                <tr>
                    <th>Term Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for term in terms %}
                <tr>
                    <td><a href="{% url 'School:school_term_years' term.id %}">{{ term.name }}</a></td>
                    <td>
                        <a href="" class="btn btn-sm btn-outline-primary">Edit</a>
                        <a class="btn btn-sm btn-outline-danger" href="">Delete</a>
                        <a href="" class="btn btn-sm btn-outline-success">Set Up</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block additional_scripts %}

{% endblock %}