{% extends 'admin_layouts/new_base.html' %}
{% load static %}

{% block additional_meta %}

{% endblock %}

{% block additional_styles %}

{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
        <div class="tile">
            <form action="{% url 'Invoices:create_invoice' client.id %}" method="post">
                {% csrf_token %}
                <div class="form-group" hidden>
                    <input name="client" value="{{ client.id }}">
                </div>

                <div class="form-group">
                    <label for="">Invoice Date</label>
                    <input class="form-control" name="invoice_date" id="demoDate" type="text" placeholder="Select Date">
                </div>

                <div class="form-group">
                    <label>Discount</label>
                    <input class="form-control" name="discount" type="number" placeholder="Discount">
                </div>

                <div class="form-group">
                    <label>Select Vat Percentage</label>
                    <select name="vat" class="form-control">
                        <option value="">Select percentage</option>
                        <option value="14">14%</option>
                        <option value="16">16%</option>
                        <option value="25">25%</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}

{% block additional_scripts %}
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript">
      $('#demoDate').datepicker({
      	format: "dd/mm/yyyy",
      	autoclose: true,
      	todayHighlight: true
      });
    </script>
{% endblock %}