{% extends 'admin_layouts/new_base.html' %}
{% load static %}

{% block additional_meta %}

{% endblock %}

{% block additional_styles %}

{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-12">
    <div class="tile">
        <div class="tile-title">
            <h3>Edit Invoice</h3>
        </div>

        <form action="" method="post">
            {% csrf_token %}

            <div class="form-group">
                <label>Client</label>
                <input type="text" class="form-control" value="{{ invoice.client.company_name }}" name="client" readonly>
            </div>

            <div class="form-group">
                <label>Invoice Number</label>
                <input type="text" class="form-control" value="{{ invoice.invoice_number }}" name="invoice_number" readonly>
            </div>

            <div class="form-group">
                <label>Discount</label>
                <input type="text" class="form-control" value="{{ invoice.discount }}" name="discount">
            </div>

            <div class="form-group">
                <label>Invoice Date</label>
                <input type="date" class="form-control" value="{{ invoice.invoice_date }}" name="invoice_date">
            </div>

            <div class="form-group">
                    <label>Select Vat Percentage</label>
                    <select name="vat" class="form-control">
                        <option value="">Select percentage</option>
                        <option value="14" {% if invoice.vat == 14 %} selected {% endif %}>14%</option>
                        <option value="16" {% if invoice.vat == 16 %} selected {% endif %}>16%</option>
                        <option value="25" {% if invoice.vat == 25 %} selected {% endif %}>25%</option>
                    </select>
                </div>

            <button type="submit" class="btn btn-sm btn-outline-success">Submit</button>
        </form>
    </div>
</div>
</div>
{% endblock %}