<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>  <link rel="icon" href="{% static 'images/robermss.ico'%}" type='image/x-icon'>

    <title>Roberms</title>
    <link rel='stylesheet' type='text/css' href='{% static 'css/main.css' %}'>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{% static 'css/custom.css' %}">
      <style>
          img {
            vertical-align: middle;
            border-style: double;
            height: 500px;
            width: 600px;
            }
      </style>
  </head>
  <body>
{#    <main class="app-content">#}
        <div class="row">
            <div class="tile col-sm-6">
            <img class="img-responsive" src="https://roberms.co.ke/media/client_images/WhatsApp Image 2019-12-09 at 22.55.18(1).jpeg">
        </div>
        <div class="tile col-sm-6">
            <img class="img-responsive" style="height: " src="https://roberms.co.ke/media/client_images/WhatsApp Image 2019-12-09 at 22.55.18.jpeg">
        </div>
    </div>

<div class="row">
    <div class="col-sm-6">
        <img class="img-responsive" src="https://roberms.co.ke/media/client_images/WhatsApp Image 2019-12-09 at 22.55.19(1).jpeg">
    </div>
    <div class="col-sm-6">
        <img class="img-responsive" src="https://roberms.co.ke/media/client_images/WhatsApp Image 2019-12-09 at 22.55.19.jpeg">
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <img class="img-responsive" src="https://roberms.co.ke/media/client_images/WhatsApp Image 2019-12-09 at 22.55.20.jpeg">
    </div>
    <div class="col-sm-6">
       <img class="img-responsive" src="https://roberms.co.ke/media/client_images/neemaimage5.jpeg">
    </div>
</div>
{#    </main>#}



    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

  </body>
</html>