.idea
*.iml
media/exam_results
db.sqlite3
/roberms/local_settings.py
/sms/__pycache__
/sms/migrations/__pycache__
test
env/
roberms/__pycache__
sms/templatetags/__pycache__
sms_api/__pycache__
salesperson/__pycache__
db.sqlite

/school/migrations
/sms/migrations
/mpesa_api/migrations
/sms_api/migrations
/salesperson/migrations
/invoices/migrations
/blog/migrations
/roberms_admin/migrations
/static
shortcode/migrations/

