{% extends 'school/layouts/new_base.html' %}
{% load static %}
{% load school_filters %}
{% block additional_meta %}

{% endblock %}

{% block additional_styles %}

{% endblock %}

{% block content %}
<div class="tile">
<div class="tile-title">
    <div class="row">
        <div class="col-sm-6">
            <h3>Years</h3>
        </div>
        <div class="col-sm-6">
{#            <a class="btn btn-primary pull-right flex-column text-white" href="{% url 'School:finance_add_payment' student_id form_id term_id %}">Add Payment</a>#}
        </div>
    </div>
    <hr>

</div>
        <div class="tile-body">
            <table class="table table-hover table-bordered" id="sampleTable">
                <thead>
                <tr>
                    <th>Year</th>
{#                    <th>Fee</th>#}
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for term_year in term_years %}
                <tr>
                    <td><a href="{% url 'School:finance_classes' term_year.id %}">{{ term_year.date.year }}</a></td>
                    <td>Coming Soon</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}