<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <style>
          .login-box{

          }
          body {
              font-family: "Comic Sans MS";
          }
      </style>
    <title>Reset Password</title>
  </head>
  <body>
    <section class="material-half-bg">
      <div class="cover" style="background: #005522 !important;"></div>
    </section>
    <section class="login-content">
      <div class="logo">
        <h1 style="font-family: 'Comic Sans MS' !important;">Roberms LTD</h1>
      </div>

        {% block content %}

        {% endblock %}
    </section>
  </body>
</html>