{% extends 'layouts/new_base.html' %}
{% load static %}

{% block additional_meta %}

{% endblock %}

{% block additional_styles %}

{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-12">
    <div class="tile">
        <div class="tile">
        <div class="tile-body">
            <table class="table table-hover table-bordered" id="sampleTable">
                <thead>
                <tr>
                    <th>Till Number</th>
                    <th>Message</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for client in clients %}
                <tr>
                    <td>{{ client.business_name }}</td>
                    <td>{{ client.phone_number }}</td>
                    <td>
                        <a href="" title="Edit" class="btn btn-outline-primary btn-sm"><i class="fa fa-edit fa-lg"></i></a>
                        <a href="" title="Delete" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
</div>
{% endblock %}

{% block additional_scripts %}

{% endblock %}