{% extends 'layouts/new_base.html' %}

{% block additional_styles %}

{% endblock %}

{% block content %}


<div class="container">
            <div style="width: 900px" class="well">
                <section id="pricing">
                    <div class="container">
                        <div class="divider">
                        </div><!--/.center-->
                        <div class="gap"></div>

                    </div>
                </section><!--/#pricing-->
                <p> For Custom plan Kindly call Ronald <strong><i class="fa fa-phone"></i> 0725029795</strong></p>
                <h2> <strong> You can now get an invoice and ETR receipts for all your topups. </strong></h2>
<h2> Mpesa Payment</h2>
            </div>
            <div style="width: 900px; height: 300px;" class="well">
                <div class="mpesa darkerBackground">
                    <div class="instruction">
                        <ol>
                            <li>Go to M-Pesa on your mobile phone</li>
                            <li>Select Lipa na Mpesa</li>
                            <li>Select Buy Good and services</li>
                            <li>Enter Till number: <strong>840247</strong></li>

                            <li>Enter the total<strong> amount </strong></li>
                            <li>Complete your transaction on your phone.</li>
                            <li>Wait for your confirmation SMS from M-Pesa.</li>
                            <li>Wait for your confirmation SMS from Roberms with code.</li>
                            <li>Then click on the validate M-Pesa button below and enter code</li>
                        </ol>
                    </div>
                    <div class="confirm darkerBackground">
{#                        <a style = "float: left"class="btn btn-default left" href="#">Back</a>#}
                        <a style = "float: right" class="btn btn-primary verify-button" data-disable-with="Verifying" href="{% url 'sms:verify_payment' %}">Validate M-Pesa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block additional_scripts %}

{% endblock %}