{% extends 'layouts/new_base.html' %}
{% load static %}

{% block additional_styles %}
{#<link rel="stylesheet" href="{% static 'css/custom.css' %}">#}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="tile" style="height: 400px;">
{#                <h3>Customer Reach, Credit Usage Comparison(Demo)</h3>#}
                <h3>Messages Sent On A Weekly Basis</h3>
                <hr>
                <div class="tile-body">
                    <div class="embed-responsive embed-responsive-16by9" style="max-height: 1200px;max-width:1000px;overflow-x: scroll; overflow-y: hidden;">
                        <canvas class="embed-responsive-item" id="barChartDemo" style="width: 475px; height: 100px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block additional_scripts %}
<script>
var data = {
      	labels: {{ months }},
      	datasets: [
      		{
      			label: "People Reached",
      			fillColor: "rgb(0,121,9)",
      			strokeColor: "rgba(220,220,220,1)",
      			pointColor: "rgba(220,220,220,1)",
      			pointStrokeColor: "#fff",
      			pointHighlightFill: "#fff",
      			pointHighlightStroke: "rgba(220,220,220,1)",
      			data: {{ monthly_credit }}
      		},
      	]
      };

var ctxb = $("#barChartDemo").get(0).getContext("2d");
      var barChart = new Chart(ctxb).Bar(data);
</script>
{% endblock %}
