{% extends 'layouts/new_base.html' %}
{% load static %}

{% block additional_styles %}
{#<link rel="stylesheet" href="{% static 'css/custom.css' %}">#}
{% endblock %}

{% block content %}
{#    <div class="app-title">#}
{#        <div>#}
{#          <h1><i class="fa fa-dashboard"></i> Dashboard</h1>#}
{#            <h2>Welcome, <strong> {{request.user.username}} </strong></h2>#}
{#          <p></p>#}
{#        </div>#}
{#        <ul class="app-breadcrumb breadcrumb">#}
{#          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>#}
{#          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>#}
{#        </ul>#}
{#      </div>#}

   <div class="col-md-12">
       <div class="tile">
{#           <div class="page-header">#}
{#               <div class="row">#}
                   <div class="tile-title">

                   </div>
{#               </div>#}
{#           </div>#}

       <div class="row">
           <div class="col-lg-6">
           <div class="bs-component">
           <div class="card border-success">
               <div class="card-header">
                   <h5 class="mb-3" id="buttons">Send Personalized Message To Existing Contact Group</h5>
               </div>
               <div class="card-body">
                   <p>Send personalized message to clients stored in your contact <br>
                       groups</p>
                   <a class="btn btn btn-outline-success" href="{% url 'sms:personalized_contacts' %}">Continue</a>
                   <br>
                   <small>Dont have contacts, Click<a href="{% url 'sms:customer_contacts' %}"> Here</a> to add</small>
               </div>
           </div>
           </div>
       </div>

       <div class="col-lg-6">
           <div class="card border-success">
               <div class="bs-component">
                   <div class="card-header">
                   <h5 class="mb-3" id="buttons">Send Personalized SMS from a File</h5>
                   </div>
               <div class="card-body">
                   <p>Already storing information on your customers? Upload this information from an Excel or CSV file and send personalised messages unique to each recipient.</p>
                   <a class="btn btn btn-outline-success" href="{% url 'sms:import_csv' %}">Continue</a>
               </div>
               </div>
           </div>
       </div>

           </div>
       </div>
       </div>
{#    </div>#}
{% endblock %}

{% block additional_scripts %}

{% endblock %}