{% extends 'layouts/new_base.html'%}
{% load static %}

{% block additional_styles %}
{#<link rel="stylesheet" href="{% static 'css/custom.css' %}">#}
{% endblock %}

{% block content%}
{#    <div class="app-title">#}
{#        <div>#}
{#          <h1><i class="fa fa-dashboard"></i> Dashboard</h1>#}
{#            <h2>Welcome, <strong> {{request.user.username}} </strong></h2>#}
{#          <p></p>#}
{#        </div>#}
{#        <ul class="app-breadcrumb breadcrumb">#}
{#          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>#}
{#          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>#}
{#        </ul>#}
{#      </div>#}

<div class="col-md-12">
    <div class="tile">
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-dismissible {% if message.tags == error %} alert-danger {% else %} alert-primary {% endif %}">
            <button class="close" type="button" data-dismiss="alert">×</button><strong>Oh snap!</strong><a class="alert-link" href="#">{{ message }}</a>
        </div>
    {% endfor %}
    {% endif %}
        <h3 class="tile-title">Send  message</h3>
        <div class="tile-body">
            <div class="card col-md-6 border-success">
            <div class="card-body">
                <form class="form-group" action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Recepients:</label>
                    <textarea name="phone_numbers" id="phone" class="form-control" cols="14" rows="4" placeholder="Enter or paste number/s">{% if phone_numbers %}{{ phone_numbers }}{% endif %}</textarea>
                </div>

                <div class="form-group">
                    <label>Message:</label>
                    <textarea name="text_message" id="phone" class="form-control" cols="14" rows="6" placeholder="Type your message here">{% if message %}{{ message }}{% endif %}</textarea>
                </div>
        <small class="text-muted">sms will go out with sender ID: <strong> {{customer.sender_name}}</strong></small>
        <br>
        <input class="btn btn-secondary" type="submit" value="Send Now"/>
        </form>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}
