{% extends 'layouts/new_base.html' %}
{% load static %}

{% block additional_styles %}
{#<link rel="stylesheet" href="{% static 'css/custom.css' %}">#}
{% endblock %}

{% block content %}
{#    <div class="app-title">#}
{#        <div>#}
{#          <h1><i class="fa fa-dashboard"></i> Dashboard</h1>#}
{#            <h2>Welcome, <strong> {{request.user.username}} </strong></h2>#}
{#          <p></p>#}
{#        </div>#}
{#        <ul class="app-breadcrumb breadcrumb">#}
{#          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>#}
{#          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>#}
{#        </ul>#}
{#      </div>#}

   <div class="col-md-12">
       <div class="tile">
{#           <div class="page-header">#}
{#               <div class="row">#}
                   <div class="tile-title">
                       <h2 class="mb-3 line-head" id="buttons">Send Personalized Messages</h2>
                   </div>
{#               </div>#}
{#           </div>#}

       <div class="row">
           <div class="col-lg-6">
           <div class="bs-component">
           <div class="card border-success">
               <div class="card-header">
                   <h5>Send An SMS</h5>
               </div>

               <div class="card-body">
                   <form method="post" action="{% url 'sms:import_csv' %}" enctype="multipart/form-data">
                       {% csrf_token %}
                       <input type="file" name="myfile">
                       <button class="btn btn-outline-success" type="submit">Upload</button>
                   </form>

                   <table class="table table-hover table-bordered table-responsive" id="sampleTable">
                       <tbody>
                       {% for contact in contacts %}
                       {% if forloop.counter < 3 %}
                           <tr>
                               {% for data in contact %}

                                   {% if data != None %}
                                       <td>{{ data }}</td>
                                   {% endif %}
                               {% endfor %}
                           </tr>
                           {% endif %}
                       {% endfor %}
                       </tbody>
                   </table>

                   <form method="post" action="{% url 'sms:merge_sms' %}" enctype="multipart/form-data">
                       {% csrf_token %}

                       <select class="form-control" id="NumberField" name="NumberField" required>
                           <option value="">Choose Mobile Number Field</option>
                           {% for field in fields %}
                               {% if field != None %}
                                   <option value="{{ field }}">{{ field }}</option>
                               {% endif %}
                           {% endfor %}
                       </select>

                       <div class="form-group" hidden>
                           <input name="file_path" value="{{ file }}">
                       </div>

                       <div class="form-group">
                           <p>Ensure each parameter eg. [name] added is preceded and succeeded by a space e.g Hello [name] how are you.</p>
                           <div class="form-group contact-forms">
                               <textarea id="Message" required oninput="computeMessageCost()" name="Message" class="form-control contact-forms" rows="3" maxlength="765"></textarea>
                           </div>

                           <div class="row">
                               <div class="col-sm-12">
                                   <strong>Personalize message with</strong>
                                   {% for field in fields %}
                                       {% if field != None %}
                                           <button type="button" onclick="setupTags_buttons('{{ field }}')" class="btn btn-outline-success">{{ field }}</button>
                                       {% endif %}
                                   {% endfor %}
                               </div>
                           </div>

                           <span><strong id="charCount">0</strong> Characters <span id="partCount">1</span> of 5 messages (Cost = <strong id="creditCount">1</strong> SMS)</span>
                       </div>
                       <button type="submit" class="btn btn btn-outline-success">Merge</button>
{#      </div>#}
                   </form>
               </div>
           </div>
           </div>
       </div>

       <div class="col-lg-2"></div>
       <div class="col-lg-4">
           <div class="bs-component">
           <div class="card border-success">
               <div class="card-header">
                   <h5>Pointers</h5>
               </div>
               <div class="card-body">
                   <p><strong>-> Upload a .csv or .xlsx file with phone numbers and other fields that you want to use</strong></p>
                   <p><strong>-> Click upload to preview the uploaded file</strong></p>
                   <p><strong>-> Choose the mobile number field</strong></p>
                   <p><strong>-> Enter the customized message by clicking the fields</strong></p>
                   <p><strong>-> Ensure each field is written with one name eg first_name not first name</strong></p>
               </div>
               </div>
           </div>
       </div>

           </div>
       </div>
       </div>
{#    </div>#}
{% endblock %}

{% block additional_scripts %}
<script>
        var messageSize = 160;
        var longMessageSize = 153;
        var maxMessageLength = 153 * 5;
        var creditPerPart = 1.0;

        function computeMessageCost() {
            var charCountField = $('#charCount');
            var partCountField = $('#partCount');
            var creditCountField = $('#creditCount');
            var contentField = $('textarea#Message');
            var len = contentField.val().length;
            var parts = len <= messageSize ? 1 : Math.ceil(len / longMessageSize);

            //get newline count and add the extra characters to the length
            var ncount = contentField.val().split('\n').length - 1;
            if (ncount > 0) len += ncount;
            charCountField.text(len);
            partCountField.text(parts);
            creditCountField.text(parts * creditPerPart);
        }

        function setupTags_buttons(tag) {
            {#console.log(tag);#}
            var messageField = $('textarea#Message');
            var element = messageField.get(0);
            var input = '[' + (tag).trim() + ']';
            console.log(tag);
            console.log(input);
            var caretPosition = getCaret(element);
            var text = messageField.val();
            var p1 = text.substring(0, caretPosition);
            var p2 = text.substring(caretPosition);
            messageField.val(p1 + input + p2);
            messageField.focus();
        }


        function getCaret(el) {
            if (el.selectionStart) {
                return el.selectionStart;
            }
            else if (document.selection) {
                el.focus();
                var r = document.selection.createRange();
                if (r == null) {
                    return 0;
                }
                var re = el.createTextRange(),
                    rc = re.duplicate();
                re.moveToBookmark(r.getBookmark());
                rc.setEndPoint('EndToStart', re);
                return rc.text.length;
            }
            return 0;
        }
</script>
{% endblock %}